<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>darkflask</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but darkflask doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div class="row">
        <div class="col-xs-12  col-md-9">
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
        </div>
      </div>
    <div id="app">
        <p>Name: {{app.Name}}</p>
        <p>Price: {{app.Price}}</p>
        <p>Description: {{app.Description}}</p>
        <p>Genre: {{app.Genres}}</p>
        <p>Age Rating: {{app.Age_Rating}}</p>
        <p>Developer: {{app.Developer}}</p>
        <p>Languages: {{app.Languages}}</p>
        <p>Original Release Date: {{app.Original_Release_Date}}</p>
        <p>Current Version Release Date: {{app.Current_Version_Release_Date}}</p>
        <hr>
    </div>
    <!-- built files will be auto injected -->
    <button id="jsonBtn"><a href="/">Go home</a></button>
    <button id="graphBtn"><a href="/graphs">See Graph</a></button>
    <div class="row">
        <div class="col-xs-12  col-md-9">
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
            <i class="fa fa-cogs" style="font-size:36px"></i>
        </div>
      </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  </body>
</html>
